.vraagantwoord {
    background-color: white;
    border: 2px solid transparent;
    color: white; /* Invisible initially */
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    margin: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Color Variants */
  .green {
    border: 2px solid #4CAF50;
  }
  .green:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .purple {
    border: 2px solid #703A96;
  }
  .purple:hover {
    background-color: #703A96;
    color: white;
  }
  
  .babyblue {
    border: 2px solid #1971B9;
  }
  .babyblue:hover {
    background-color: #1971B9;
    color: white;
  }
  