.vraagantwoord {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.green {
  background-color: white; 
  color: white; 
  border: 2px solid #4CAF50;
}

.green:hover {
  background-color: #4CAF50;
  color: white;
}

.purple {
  background-color:white; 
  color: white; 
  border: 2px solid #703A96;
}

.purple:hover {
  background-color: #703A96;
  color: white;
}

.babyblue {
  background-color:white; 
  color: white; 
  border: 2px solid #1971B9;
}

.babyblue:hover {
  background-color: #1971B9;
  color: white;
}
