.draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 100%;
  display: vissible;
        overflow: hidden;

}



.mydivheader {
//border: 0.5px solid white;
//content: '\u27F1';
  padding: 5px;
  cursor: move;
   background-color: #2196F3;
    font-weight: bold;
      overflow: hidden;

  color: #fff;
 cursor: n-resize;
}
.mydivheader:hover {
  background-color: #1f8adf;   
}

.checkin {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 11pt;
  cursor: pointer;
  
}
.checkin:hover {
  background-color: #3e8e41;   
}

.hint {
  background-color: #2196f3;
  float: left
    
}
.hint:hover {
  background-color: #1f8adf;
}


.accordionantwoord {
   background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 10pt;
  width: 50%;
  font-size: 11pt;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  
}

.active, .accordionantwoord:hover {
  background-color: #3e8e41;
}

.accordionantwoord:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.deelhint:after {
  content: '\002B';
   font-weight: bold;
  color: white;
  
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.deelhint {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  padding: 5pt 10pt;
  width: 50%;
  font-size: 11pt;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.mark {
  display: inline-block;     /* gives it a box even when empty */
  width: 1.1em;              /* reserve space for ✔ / ✖ */
  text-align: center;
  font-size: 14pt;
  line-height: 1;
  font-style: normal;        /* <i> without italics */
  margin-right: .3em;
}

.deelhint:hover {
  background-color: #1f8adf;
}
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  
}
hint{
display:none;

}
